.container{
    border: 3px solid #000;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "hijo2 hijo2"
    "hijo1 hijo3"
    "hijo1 hijo3";
    grid-gap: 20px;
    /* justify items: alinea horizontalmente */
    /* justify-items: end; */
    /* justify-items: start; */
    /* justify-items: center; */
    
    /* align items: alinea verticalmente */
    /* align-items: end; */
    /* align-items: start; */
    /* align-items: center; */
}

.hijo{
    background-color: aqua;
    border: 1px solid red;
    border-radius: 20px;
}

.hijo-1{
    background-color: beige;
    grid-area: hijo1;
      /* justify self: alinea horizontalmente */
    /* justify-self: end; */
    /* justify-self: start; */
    /* justify-self: center; */

    /* align self: alinea verticalmente */
    /* align-self: end; */
    /* align-self: start; */
    align-self: center;
}

.hijo-2{
    grid-area: hijo2;
}

.hijo-3{
    grid-area: hijo3;
}
