.container{
    border: 3px solid #000;
    height: 100vh;
    display: grid;
    grid-template-columns: [inicio] 1fr [centro] 1fr [final];
    grid-template-rows:  [h1] 1fr [h2] 1fr [h3] 1fr [h4];
    grid-gap: 20px;
}

.hijo{
    background-color: aqua;
    border: 1px solid red;
    border-radius: 20px;
}

.hijo-1{
    grid-column:  inicio / final;
    grid-row: h3 / h4;
}

.hijo-3{
    grid-column: inicio / final;
    grid-row: h2 / h3;
}
.hijo-4{
    grid-column: inicio / final;
    grid-row: h1 / h2;
}
