.container{
    border: 3px solid #000;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "hijo1 hijo2"
    "hijo1 hijo2"
    "hijo1 hijo3";
    grid-gap: 20px;
}

.hijo{
    background-color: aqua;
    border: 1px solid red;
    border-radius: 20px;
}

.hijo-1{
    grid-area: hijo1;
}

.hijo-2{
    grid-area: hijo2;

}
.hijo-3{
    grid-area: hijo3;
}
