

.padre {
    height: 400px;
    border: 2px solid red;
    /* Se necesita para usar flex box  */
    display: flex;
    /* Mover elementos en el eje x o horizontal  */
    justify-content: space-around;
    /* Mover elementos en el eje y o vertical  */
    align-items: center;
    /* Me ayuda a acomodar mis elementos en columna */
    flex-direction: column;
}

.hijo {
    height: 100px;
    width: 100px;
    border: 2px solid green;
}